@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body{
  margin: 0;
  padding: 0;
  background-image: url(black.jpeg);
  background-size: cover;
  font-family: 'Quicksand', sans-serif;
}

.neno{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0 20px;
  font-size: 6em;
  color: #fff;
  text-shadow: 0 0 20px #ff005b;
}

.neno::after{
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 20px;
  z-index: -1;
  color: #ff005b;
  filter: blur(15px);
}

.neno::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #ff005b;
  z-index: -2;
  opacity: .5;
  filter: blur(40px);
}